# config/services.yaml

parameters:
  photos_directory: '%kernel.project_dir%/public/uploads/photos'

services:
  App\Security\AdminAccessDeniedHandler:
    arguments:
      $router: '@router'
      $requestStack: '@request_stack'

  # Configuration par défaut pour tous les services
  _defaults:
    autowire: true      # Injection automatique des dépendances
    autoconfigure: true # Auto-enregistrement des services comme EventListener, Command, etc.
    public: false

  # Tous les services dans src/ sont disponibles automatiquement
  App\:
    resource: '../src/'
    exclude:
      - '../src/DependencyInjection/'
      - '../src/Entity/'
      - '../src/Kernel.php'

  # Exemple de service explicite pour le LoginSuccessHandler
  App\Security\LoginSuccessHandler:
    arguments:
      $router: '@router'
